* {
  padding: 0;
  margin: 0;
  font-family: Helvetica;
  box-sizing: border-box;
  background-color: plum;
}

h1 {
  color: #40e0d0;
  margin-bottom: 1em;
  font-size: 2.1em;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: #00a86b;
}

.bold {
  font-weight: bold;
  color: #40e0d0;
}
